
.wrapper
    .name Хаётбек Ахмаджонов
    .title Фрилансер, веб-разработчик

    //- social-wrapper
    .social-wrapper
        .icon-box
            a(href="https://vk.com/id650888578" target="_blank" class="fa-stack fa-2x color-vk") 
                i(class="fas fa-circle fa-stack-2x")
                i(class="fab fa-vk fa-stack-1x fa-inverse")
        
        .icon-box
            a(href="https://telegram.im/@Khayotbek_web_developer" target="_blank" class="fa-stack fa-2x color-tg")
                i(class="fas fa-circle fa-stack-2x")
                i(class="fab fa-telegram-plane fa-stack-1x fa-inverse")

        .icon-box
            a(href="https://www.facebook.com/hayotbek.ahmadjonov.75" target="_blank" class="fa-stack fa-2x color-fb")
                i(class="fas fa-circle fa-stack-2x")
                i(class="fab fa-facebook-f fa-stack-1x fa-inverse")
        .icon-box
            a(href="mailto:hayotbekahmadjonov2003@gmail.com" target="_blank" class="fa-stack fa-2x color-mail")
                i(class="fas fa-circle fa-stack-2x")
                i(class="fas fa-envelope fa-stack-1x fa-inverse")

        .icon-box
            a(href="https://github.com/HayotbekIT" target="_blank" class="fa-stack fa-2x color-github")
                i(class="fas fa-circle fa-stack-2x")
                i(class="fab fa-github fa-stack-1x fa-inverse")

        .icon-box
            a(href="https://www.instagram.com/hayotbekakhmadjonov?utm_medium=copy_link" target="_blank" class="fa-stack fa-2x color-insta")
                i(class="fas fa-circle fa-stack-2x")
                i(class="fab fa-instagram fa-stack-1x fa-inverse")
    include ./photo.pug

    .copyright
        p &#169; Сделано в 2022 году
        a(href="http://whpchust.ru" target="_blank") whpchust.ru

