.photo
    img(src="./img/films-examples/01.jpg" alt="Photo")
    img(src="./img/films-examples/02.jpg" alt="Photo")
    img(src="./img/films-examples/03.jpg" alt="Photo")
    img(src="./img/films-examples/04.jpg" alt="Photo")
    img(src="./img/films-examples/05.jpg" alt="Photo")
    img(src="./img/films-examples/06.jpg" alt="Photo")
    img(src="./img/films-examples/07.jpg" alt="Photo")
    img(src="./img/films-examples/08.jpg" alt="Photo")
    img(src="./img/films-examples/09.jpg" alt="Photo")
    img(src="./img/films-examples/10.jpg" alt="Photo")
    img(src="./img/films-examples/11.jpg" alt="Photo")
    img(src="./img/films-examples/12.jpg" alt="Photo")