// JQuery
script(src="./libs/jquery/jquery-3.3.1.min.js")
//- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
// OwlCarousel
script(src="./libs/owlCarousel/OwlCarousel2-2.3.4/dist/owl.carousel.min.js")
// Bootstrap
script(src="./libs/js/bootstrap.bundle.min.js")
// Mask
script(src="./libs/mask-input/mask.js") 
// JS 
script(src="./js/main.js")