// Normalize
link(rel="stylesheet", href="./libs/normalize/normalize.css")
// Bootstrap
link(rel="stylesheet", href="./libs/bootstrap/css/bootstrap.min.css")
// Owl-Carousel CSS & Theme
link(rel="stylesheet", href="./libs/owlCarousel/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css")
link(rel="stylesheet", href="./libs/owlCarousel/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css")